.footer-container {
    margin: 0 15px;
}
.links-container{
    display: flex;
    justify-content: space-between;
}
.link, h3, h5{
    color: #b3b3b3;
    margin-bottom: 0px;
}
li {
    list-style: none;
    margin-top: 10px;
}
ul {
    padding: 0;
}
h5 {
    margin-bottom: 15px;
}