.mainPage-logo {
    width: 25px;
    margin: 10px 0 10px 10px;
}
.header-logo-container{
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
@media (min-width: 1024px) {
    .mainPage-logo{
        margin: 50% 100%;
    }
}