.movie-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 65px; 
    margin: 0 20px;
    font-size: 15px;
  }
  .column {
      text-align: justify;
  }
  .column p {
      color: #878787;
  }
  .column span {
      color: #F3F3F3;
  }
  .movie-info p{
      color: #AEAEAE;
  }
  .movie-plot {
      text-align: justify;
      margin: 20px 20px 50px;
      font-size: 21px;
      font-weight: 500;
      color: #F3F3F3;
  }
  .header-movie-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 10px 20px;
  }
  .header-movie-cont h1{
      color: #F3F3F3;
  }
  .button-fav{
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
    width: 55%;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    background-color: #006400;
    border: none;
    color: #ededed;
    border-radius: 5px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }